@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 100;
  src: local('SVN Gilroy'),
    url(/fonts/SVN-Gilroy-Thin.otf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 200;
  src: local('SVN Gilroy'),
    url(/fonts/SVN-Gilroy-Xlight.otf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('SVN Gilroy'),
    url(/fonts/SVN-Gilroy-Light.otf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: local('SVN Gilroy'),
    url(/fonts/SVN-Gilroy-Regular.otf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: local('SVN Gilroy'),
    url(/fonts/SVN-Gilroy-Medium.otf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: local('SVN Gilroy'),
    url(/fonts/SVN-Gilroy-SemiBold.otf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: local('SVN Gilroy'),
    url(/fonts/SVN-Gilroy-Bold.otf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('SVN Gilroy'),
    url(/fonts/SVN-Gilroy-Black.otf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 900;
  src: local('SVN Gilroy'),
    url(/fonts/SVN-Gilroy-Heavy.otf) format('truetype');
  font-display: swap;
}

* {
@apply font-gilroy;
}