@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy'),
    url(/fonts/SVN-Gilroy-Light.otf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: local('Gilroy'),
    url(/fonts/SVN-Gilroy-Regular.otf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 500;
  src: local('Gilroy'),
    url(/fonts/SVN-Gilroy-Medium.otf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 600;
  src: local('Gilroy'),
    url(/fonts/SVN-Gilroy-SemiBold.otf) format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 700;
  src: local('Gilroy'),
    url(/fonts/SVN-Gilroy-Bold.otf) format('truetype');
  font-display: swap;
}

#__next {
@apply font-gilroy;
}
